.nav-body {
    position: sticky;
    top: 0;
    z-index: 30;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 4px 15px 0px #00000026;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.nav-content-big {
    display: none;
}

.nav-content-small-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.nav-content-small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    position: absolute;
    height: 250px;
    top: 60px;
    left: 0px;
    right: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.nav-btn {
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.44px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 135px;
    color: #FFFFFF;
    background: #FF7373;
}

.nav-big-lgt-div {
    position: absolute; 
    width: 200px; 
    height: 150px; 
    top: 60px; 
    right: 0px; 
    background-color: #FFFFFF; 
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center; 
    box-shadow: 0px 4px 4px 0px #00000040;
}

.nav-dropdown-title {
    font-size: 18px; 
    font-weight: 700; 
    line-height: 23.44px;
}

.nav-small-btn-div {
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}

.nav-small-name-div {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    width: 100%;
}

.nav-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://avatar.iran.liara.run/public');
}

.nav-mark {
    font-size: 15px;
    font-weight: 700;
    line-height: 19.53px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

@media (min-width:700px) {
    .nav-content-big {
        display: flex;
        padding-right: 10px;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .nav-content-small-div {
        display: none;
    }
}