.story-container {
    width: 800px; 
    z-index: 10; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.story-body {
    background-size: contain;
    background-position: center;
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.253);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: black;
}

.story-body-header {
    display: flex; 
    flex-direction: column; 
    width: 100%;
}

.story-body-bar-div {
    display: flex; 
    gap: 8px; 
    width: 100%; 
    padding-top: 35px; 
    padding-inline: 10px;
}

.story-body-bar {
    flex : 1 1 0%; 
    height: 2px;
}

.story-body-op-div {
    display: flex; 
    padding: 20px; 
    width: 100%; 
    justify-content: space-between; 
    align-items: center;
}

.story-body-mid {
    display: flex;
    width: 100%;
    flex: 1 1 0%;
    pointer-events: auto;
}

.story-body-mid-section {
    flex: 1 1 0%;
}

.story-body-footer {
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    gap: 10px; 
    padding-inline: 20px;
}

.story-footer-heading {
    font-size: 20px; 
    font-weight: 700; 
    line-height: 26.04px; 
    color: #FFFFFF;
    margin-bottom: 5px;
}

.story-footer-description {
    font-size: 10px; 
    font-weight: 700; 
    line-height: 13.02px; 
    color: #FFFFFF;
    margin-bottom: 15px;
}

.story-footer-op-div {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    padding-inline: 20px; 
    margin-bottom: 20px;
}

.story-likes-div {
    display: flex; 
    gap: 10px; 
    align-items: center;
}

.story-likes-count {
    font-size: 9px; 
    font-weight: 700; 
    line-height: 11.72px; 
    color: #FFFFFF;
}

.story-arrow {
    display: none;
}

@media (min-width: 450px) {
    .story-body {
        width: 340px;
        height: 650px;
    }

    .story-arrow {
        display: flex;
    }

    .story-body-mid {
        pointer-events: none;
    }
}