*{
  box-sizing: border-box;
  border: 0 solid white;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
  font-style: normal;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

/* ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #474444;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */

input{
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
}

input {
  background-color: transparent;
  border: none;
}

a {
  text-decoration-line: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}